@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
* {
    text-decoration: none;
    list-style: none;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: whitesmoke;
}
.nave .redes img {
    width: 20px;
}
.redes .insta {
    position: absolute;
    margin-left: 350px;
    margin-top: 29px;
}
.redes .what {
    position: absolute;
    margin-left: 390px;
    margin-top: 29px;
}
.nave {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #ffffffe3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.nave ul{
    display: flex;
    justify-content: center;
    line-height: 5;
    margin-right: 2%;
    width: 100%;
    margin: 0;
}
.nave ul li {
    margin-right: 2rem;
}
.nave a {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}
.nave a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    
}
.home {
    text-align: center;
    padding: 20px;
}
.home h1 {
    font-family: 'Quicksand', sans-serif; 
    margin-top: -120px;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.home p {
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    font-size: 25px;
}
.home .logo {
    width: 35rem;
    margin-top: -30px;
    
}
.home .down {
    width: 45px;
    margin-top: 20px;
    transition: transform 0.3s;
}
.sobre{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, white);
}
.sobre .conteudosobre{
    box-shadow: #000000af 3px 2px 15px;
    padding: 30px;
    border-radius: 20px;
    height: 375px;
    width: 500px;
    margin-left: 50px;
    margin-top: 125px;
    margin-top: 135px;
}
.sobre h2{
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
}
.sobre p{
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.sobre img{
    width: 40rem;
}
.down:hover{
    transform: scale(1.3);
}
.pezin {
    background-color: rgba(0, 0, 0, 0.829);
    width: 100%;
    height: 65px;
    color: white;
    font-family: 'Poppins', sans-serif;
    bottom: 0;
    text-align: center;
    padding-top: 60px;
}
.up {
    position: relative;
    filter: invert(100%);
    margin-top: 10px;  
    width: 20px;
    transition: transform 0.3s;
}
.up:hover {
    transform: scale(1.5);
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

.container {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }   

h1 {
    text-align: center;
      }

label {
        font-weight: bold;
      }

input[type="text"], select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
.form-group {
        margin-bottom: 20px;
    
      }
.form-group::after {
        content: "";
        display: table;
        clear: both;
      }
.form-group label {
        float: left;
        width: 30%;
      }
.form-group input, .form-group select {
        float: right;
        width: 70%;
      }

    
input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }
      
input[type="submit"]:hover {
        background-color: #45a049;
      }
      